In [1]:
import pandas as pd 
import numpy as np

from algorithms.branch_and_bound import branch_and_bound as bnb
from algorithms.dynamic_programming import dynamic_programming as dynamic
from algorithms.greedy import greedy_algorithm as greedy
from algorithms.genetic import genetic_algorithm as genetic
from tools.benchmark_loader import get_all_knapsacks
from tools.test_methods import run_tests
from tools.make_measurements import get_time

# Laboratory work 2
## Knapsack 0-1 problem
Done by *Aroslankin, Kuklin, Kislytsina*.     
There are tests and comparisons of the 4 algorithms for knapsack 0-1 problem.    
***Exact algorithms:***     
* [Dynamic programming]()
* [Branch and Bound]()   

***Heuristic algorithms:***     
* [Greedy]() 
* [Genetic algorithm]()

### Loading of the benchmarks
[The benchmarks source №1]()   
[The benchmarks source №2]()

In [2]:
knapsacks = get_all_knapsacks()
for knapsack in knapsacks:
    if knapsack['n'] != len(knapsack['weights']):
        print("Knapsack's size error!")

P01 is loaded!
P02 is loaded!
P03 is loaded!
P04 is loaded!
P05 is loaded!
P06 is loaded!
P07 is loaded!
f9_l-d_kp_5_80 is loaded!
f7_l-d_kp_7_50 is loaded!
f3_l-d_kp_4_20 is loaded!
f4_l-d_kp_4_11 is loaded!
f10_l-d_kp_20_879 is loaded!
f1_l-d_kp_10_269 is loaded!
f6_l-d_kp_10_60 is loaded!
f8_l-d_kp_23_10000 is loaded!
f2_l-d_kp_20_878 is loaded!
knapPI_1_5000_1000_1 is loaded!
knapPI_2_100_1000_1 is loaded!
knapPI_2_2000_1000_1 is loaded!
knapPI_3_200_1000_1 is loaded!
knapPI_1_500_1000_1 is loaded!
knapPI_1_200_1000_1 is loaded!
knapPI_1_10000_1000_1 is loaded!
knapPI_1_2000_1000_1 is loaded!
knapPI_3_1000_1000_1 is loaded!
knapPI_2_5000_1000_1 is loaded!
knapPI_3_500_1000_1 is loaded!
knapPI_2_10000_1000_1 is loaded!
knapPI_3_2000_1000_1 is loaded!
knapPI_3_100_1000_1 is loaded!
knapPI_1_1000_1000_1 is loaded!
knapPI_3_10000_1000_1 is loaded!
knapPI_2_200_1000_1 is loaded!
knapPI_3_5000_1000_1 is loaded!
knapPI_2_1000_1000_1 is loaded!
knapPI_2_500_1000_1 is loaded!
knapPI_1_100_1000_1 is loaded!

### Dynamic programming algorithm

#### Testing

In [9]:
test_dynamic = run_tests(knapsacks[:20], methods=[dynamic], lim_sec=30, file_name='test_dynamic')
test_dynamic[["Knapsack's ID", 'Number of items', 'Optimal profit', 'Found profit', 'Passed']]

   Knapsack's ID Number of items Optimal profit Found profit Passed
0              0               4             35           35   True
1              1               4             23           23   True
2              2               5             51           51   True
3              3               5            130          130   True
4              4               6            150          150   True
5              5               7            107          107   True
6              6               7           1735         1735   True
7              7               7            107          107   True
8              8               8            900          900   True
9              9              10            309          309   True
10            10              10            295          295   True
11            11              10             52           52   True
12            12              15           1458         1458   True
13            13              20           1025         1025   True
14            14              20           1024         1024   True
15            15              23           9767         9767   True
16            16             100           1514         1514   True
17            17             100           2397         2397   True
18            18             100           9147         9147   True
19            19             200           2697         2697   True

We've tested this algorithm with 20 benchmarks. Minimal number of items for knapsack is 4, maximal number is 200 
(Larger knapsacks and the answer of all cases will be shown below).        
This algorithm always returns exact answer.

### Branch and bound algorithm

#### Testing

In [10]:
test_bnb = run_tests(knapsacks[:20], methods=[bnb], lim_sec=30, file_name='test_bnb')
test_bnb[["Knapsack's ID", 'Number of items', 'Optimal profit', 'Found profit', 'Passed']]

,Knapsack's ID,Number of items,Optimal profit,Found profit,Passed
0,0,4,35,35,True
1,1,4,23,23,True
2,2,5,51,51,True
3,3,5,130,130,True
4,4,6,150,150,True
5,5,7,107,107,True
6,6,7,1735,1735,True
7,7,7,107,107,True
8,8,8,900,900,True
9,9,10,309,309,True
10,10,10,295,295,True
11,11,10,52,52,True
12,12,15,1458,1458,True
13,13,20,1025,1025,True
14,14,20,1024,1024,True
15,15,23,9767,NaN,30 seconds have passed!
16,16,100,1514,1514,True
17,17,100,2397,2397,True
18,18,100,9147,9147,True
19,19,200,2697,NaN,30 seconds have passed!

Here we put the time limit of 30 seconds and some cases did not overcome it.     
But we can see that this algorithm always returns correct answers too.

### Greedy algorithm

#### Testing

In [11]:
test_greedy = run_tests(knapsacks[:20], methods=[greedy], lim_sec=30, file_name='test_greedy')
test_greedy[["Knapsack's ID", 'Number of items', 'Optimal profit', 'Found profit', 'Passed']]

   Knapsack's ID Number of items Optimal profit Found profit Passed
0              0               4             35           35   True
1              1               4             23           16  False
2              2               5             51           47  False
3              3               5            130          130   True
4              4               6            150          146  False
5              5               7            107          102  False
6              6               7           1735         1478  False
7              7               7            107          102  False
8              8               8            900          858  False
9              9              10            309          266  False
10            10              10            295          294  False
11            11              10             52           52   True
12            12              15           1458         1441  False
13            13              20           1025         1019  False
14            14              20           1024         1018  False
15            15              23           9767         9751  False
16            16             100           1514         1487  False
17            17             100           2397         2375  False
18            18             100           9147         8817  False
19            19             200           2697         2649  False

Greedy is the heuristic algorithm that is why sometimes it returns approximate answers.     
Here Greedy returned just 3 exact answers out of 20. The other found optimal profits are close to right solutions.

### Genetic algorithm

#### Testing

In [12]:
test_genetic = run_tests(knapsacks[:20], methods=[genetic], lim_sec=30, file_name='test_genetic')
test_genetic[["Knapsack's ID", 'Number of items', 'Optimal profit', 'Found profit', 'Passed']]

   Knapsack's ID Number of items Optimal profit Found profit Passed
0              0               4             35           35   True
1              1               4             23           23   True
2              2               5             51           51   True
3              3               5            130          130   True
4              4               6            150          150   True
5              5               7            107          107   True
6              6               7           1735         1735   True
7              7               7            107          107   True
8              8               8            900          900   True
9              9              10            309          284  False
10            10              10            295          293  False
11            11              10             52           52   True
12            12              15           1458         1446  False
13            13              20           1025         1025   True
14            14              20           1024         1024   True
15            15              23           9767         9765  False
16            16             100           1514         1514   True
17            17             100           2397         2295  False
18            18             100           9147         9147   True
19            19             200           2697         2596  False

Genetic algorithm is also the heuristic.            
It returned 14 exact answers out of 20. The other profits are very close to right solutions.

### Comparison of the time statistic for all methods

In [ ]:
table_time = get_time(knapsacks, iters=3, lim_sec=90)