In [1]:
import pandas as pd 
import numpy as np
import plotly.graph_objs as go
from plotly.offline import iplot

from algorithms.branch_and_bound import branch_and_bound as bnb
from algorithms.dynamic_programming import dynamic_programming as dynamic
from algorithms.greedy import greedy_algorithm as greedy
from algorithms.genetic import genetic_algorithm as genetic
from tools.benchmark_loader import get_all_knapsacks
from tools.test_methods import run_tests, get_result
from tools.make_measurements import get_time

# Laboratory work 2
## Knapsack 0-1 problem
Done by *Aroslankin, Kuklin, Kislitsyna*.     
There are tests and comparisons of the 4 algorithms for knapsack 0-1 problem.    
***Exact algorithms:***     
* [Dynamic programming]()
* [Branch and Bound]()   

***Heuristic algorithms:***     
* [Greedy]() 
* [Genetic algorithm]()

### Loading of the benchmarks
[The benchmarks source №1](https://people.sc.fsu.edu/~jburkardt/datasets/knapsack_01/knapsack_01.html)   
[The benchmarks source №2](http://artemisa.unicauca.edu.co/~johnyortega/instances_01_KP/)

In [2]:
knapsacks = get_all_knapsacks()
for knapsack in knapsacks:
    if knapsack['n'] != len(knapsack['weights']):
        print("Knapsack's size error!")

P01 is loaded!
P02 is loaded!
P03 is loaded!
P04 is loaded!
P05 is loaded!
P06 is loaded!
P07 is loaded!
f9_l-d_kp_5_80 is loaded!
f7_l-d_kp_7_50 is loaded!
f3_l-d_kp_4_20 is loaded!
f4_l-d_kp_4_11 is loaded!
f10_l-d_kp_20_879 is loaded!
f1_l-d_kp_10_269 is loaded!
f6_l-d_kp_10_60 is loaded!
f8_l-d_kp_23_10000 is loaded!
f2_l-d_kp_20_878 is loaded!
knapPI_1_5000_1000_1 is loaded!
knapPI_2_100_1000_1 is loaded!
knapPI_2_2000_1000_1 is loaded!
knapPI_3_200_1000_1 is loaded!
knapPI_1_500_1000_1 is loaded!
knapPI_1_200_1000_1 is loaded!
knapPI_1_10000_1000_1 is loaded!
knapPI_1_2000_1000_1 is loaded!
knapPI_3_1000_1000_1 is loaded!
knapPI_2_5000_1000_1 is loaded!
knapPI_3_500_1000_1 is loaded!
knapPI_2_10000_1000_1 is loaded!
knapPI_3_2000_1000_1 is loaded!
knapPI_3_100_1000_1 is loaded!
knapPI_1_1000_1000_1 is loaded!
knapPI_3_10000_1000_1 is loaded!
knapPI_2_200_1000_1 is loaded!
knapPI_3_5000_1000_1 is loaded!
knapPI_2_1000_1000_1 is loaded!
knapPI_2_500_1000_1 is loaded!
knapPI_1_100_1000_1 is loaded!

###  Results of all cases

Here are all results of the benchmarks.    
Their optimal and found profit, found weight and mean time of working of the algorithms.

In [71]:
df_cases = pd.read_csv('./data/output/all_cases.csv')
df_cases.drop(columns=['Unnamed: 0'], inplace=True)

In [79]:
for i in range(0,148,4):
    display(df_cases.iloc[i:i+4,df_cases.columns != 'Found X'])

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
0,P_01,dynamic_programming,10,0.001471,309.0,309.0,165.0,True
1,P_01,branch_and_bound,10,0.008663,309.0,309.0,165.0,True
2,P_01,greedy_algorithm,10,0.000010,309.0,266.0,127.0,False
3,P_01,genetic_algorithm,10,0.114918,309.0,284.0,161.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
4,P_02,dynamic_programming,5,0.000182,51.0,51.0,26.0,True
5,P_02,branch_and_bound,5,0.028343,51.0,51.0,26.0,True
6,P_02,greedy_algorithm,5,0.000008,51.0,47.0,23.0,False
7,P_02,genetic_algorithm,5,0.034845,51.0,51.0,26.0,True

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
8,P_03,dynamic_programming,6,0.001097,150.0,150.0,190.0,True
9,P_03,branch_and_bound,6,0.028271,150.0,150.0,190.0,True
10,P_03,greedy_algorithm,6,0.000010,150.0,146.0,179.0,False
11,P_03,genetic_algorithm,6,0.042019,150.0,150.0,190.0,True

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
12,P_04,dynamic_programming,7,0.000434,107.0,107.0,50.0,True
13,P_04,branch_and_bound,7,0.017282,107.0,107.0,50.0,True
14,P_04,greedy_algorithm,7,0.000010,107.0,102.0,48.0,False
15,P_04,genetic_algorithm,7,0.066912,107.0,107.0,50.0,True

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
16,P_05,dynamic_programming,8,0.000938,900.0,900.0,104.0,True
17,P_05,branch_and_bound,8,0.042903,900.0,900.0,104.0,True
18,P_05,greedy_algorithm,8,0.000011,900.0,858.0,97.0,False
19,P_05,genetic_algorithm,8,0.099720,900.0,900.0,104.0,True

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
20,P_06,dynamic_programming,7,0.001207,1735.0,1735.0,169.0,True
21,P_06,branch_and_bound,7,0.161508,1735.0,1735.0,169.0,True
22,P_06,greedy_algorithm,7,0.000011,1735.0,1478.0,140.0,False
23,P_06,genetic_algorithm,7,0.102200,1735.0,1735.0,169.0,True

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
24,P_07,dynamic_programming,15,0.013298,1458.0,1458.0,749.0,True
25,P_07,branch_and_bound,15,0.947131,1458.0,1458.0,749.0,True
26,P_07,greedy_algorithm,15,0.000017,1458.0,1441.0,740.0,False
27,P_07,genetic_algorithm,15,0.827919,1458.0,1450.0,749.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
28,f1_l-d_kp_10_269,dynamic_programming,10,0.002909,295.0,295.0,269.0,True
29,f1_l-d_kp_10_269,branch_and_bound,10,0.045956,295.0,295.0,269.0,True
30,f1_l-d_kp_10_269,greedy_algorithm,10,0.000012,295.0,294.0,260.0,False
31,f1_l-d_kp_10_269,genetic_algorithm,10,0.165005,295.0,293.0,249.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
32,f2_l-d_kp_20_878,dynamic_programming,20,0.023284,1024.0,1024.0,871.0,True
33,f2_l-d_kp_20_878,branch_and_bound,20,0.110214,1024.0,1024.0,871.0,True
34,f2_l-d_kp_20_878,greedy_algorithm,20,0.000017,1024.0,1018.0,837.0,False
35,f2_l-d_kp_20_878,genetic_algorithm,20,1.371465,1024.0,1024.0,871.0,True

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
36,f3_l-d_kp_4_20,dynamic_programming,4,0.000185,35.0,35.0,18.0,True
37,f3_l-d_kp_4_20,branch_and_bound,4,0.015745,35.0,35.0,18.0,True
38,f3_l-d_kp_4_20,greedy_algorithm,4,0.000017,35.0,35.0,18.0,True
39,f3_l-d_kp_4_20,genetic_algorithm,4,0.092348,35.0,35.0,18.0,True

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
40,f4_l-d_kp_4_11,dynamic_programming,4,0.000133,23.0,23.0,11.0,True
41,f4_l-d_kp_4_11,branch_and_bound,4,0.021813,23.0,23.0,11.0,True
42,f4_l-d_kp_4_11,greedy_algorithm,4,0.000007,23.0,16.0,6.0,False
43,f4_l-d_kp_4_11,genetic_algorithm,4,0.036764,23.0,23.0,11.0,True

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
44,f6_l-d_kp_10_60,dynamic_programming,10,0.000627,52.0,52.0,60.0,True
45,f6_l-d_kp_10_60,branch_and_bound,10,0.055243,52.0,52.0,57.0,True
46,f6_l-d_kp_10_60,greedy_algorithm,10,0.000010,52.0,52.0,57.0,True
47,f6_l-d_kp_10_60,genetic_algorithm,10,0.070406,52.0,49.0,60.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
48,f7_l-d_kp_7_50,dynamic_programming,7,0.000372,107.0,107.0,50.0,True
49,f7_l-d_kp_7_50,branch_and_bound,7,0.015565,107.0,107.0,50.0,True
50,f7_l-d_kp_7_50,greedy_algorithm,7,0.000010,107.0,102.0,48.0,False
51,f7_l-d_kp_7_50,genetic_algorithm,7,0.056067,107.0,107.0,50.0,True

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
52,f8_l-d_kp_23_10000,dynamic_programming,23,0.266544,9767.0,9767.0,9768.0,True
53,f8_l-d_kp_23_10000,branch_and_bound,23,5296.214644,9767.0,9767.0,9768.0,True
54,f8_l-d_kp_23_10000,greedy_algorithm,23,0.000022,9767.0,9751.0,9750.0,False
55,f8_l-d_kp_23_10000,genetic_algorithm,23,0.320365,9767.0,9763.0,9774.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
56,f9_l-d_kp_5_80,dynamic_programming,5,0.000557,130.0,130.0,60.0,True
57,f9_l-d_kp_5_80,branch_and_bound,5,0.007470,130.0,130.0,60.0,True
58,f9_l-d_kp_5_80,greedy_algorithm,5,0.000009,130.0,130.0,60.0,True
59,f9_l-d_kp_5_80,genetic_algorithm,5,0.046824,130.0,130.0,60.0,True

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
60,f10_l-d_kp_20_879,dynamic_programming,20,0.022601,1025.0,1025.0,871.0,True
61,f10_l-d_kp_20_879,branch_and_bound,20,0.109981,1025.0,1025.0,871.0,True
62,f10_l-d_kp_20_879,greedy_algorithm,20,0.000016,1025.0,1019.0,837.0,False
63,f10_l-d_kp_20_879,genetic_algorithm,20,0.233865,1025.0,1019.0,837.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
64,knapPI_1_100_1000_1,dynamic_programming,100,0.075178,9147.0,9147.0,985.0,True
65,knapPI_1_100_1000_1,branch_and_bound,100,3.104353,9147.0,9147.0,985.0,True
66,knapPI_1_100_1000_1,greedy_algorithm,100,0.000054,9147.0,8817.0,908.0,False
67,knapPI_1_100_1000_1,genetic_algorithm,100,4.941172,9147.0,8690.0,942.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
68,knapPI_2_100_1000_1,dynamic_programming,100,0.074324,1514.0,1514.0,991.0,True
69,knapPI_2_100_1000_1,branch_and_bound,100,7.841817,1514.0,1514.0,991.0,True
70,knapPI_2_100_1000_1,greedy_algorithm,100,0.000051,1514.0,1487.0,983.0,False
71,knapPI_2_100_1000_1,genetic_algorithm,100,6.983408,1514.0,1502.0,992.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
72,knapPI_3_100_1000_1,dynamic_programming,100,0.072432,2397.0,2397.0,997.0,True
73,knapPI_3_100_1000_1,branch_and_bound,100,5.783933,2397.0,2397.0,997.0,True
74,knapPI_3_100_1000_1,greedy_algorithm,100,0.000054,2397.0,2375.0,975.0,False
75,knapPI_3_100_1000_1,genetic_algorithm,100,10.635328,2397.0,2297.0,997.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
76,knapPI_1_200_1000_1,dynamic_programming,200,0.153760,11238.0,11238.0,987.0,True
77,knapPI_1_200_1000_1,branch_and_bound,200,10.862209,11238.0,11238.0,987.0,True
78,knapPI_1_200_1000_1,greedy_algorithm,200,0.000108,11238.0,11227.0,981.0,False
79,knapPI_1_200_1000_1,genetic_algorithm,200,20.776240,11238.0,11013.0,1004.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
80,knapPI_2_200_1000_1,dynamic_programming,200,0.147309,1634.0,1634.0,1006.0,True
81,knapPI_2_200_1000_1,branch_and_bound,200,48.948732,1634.0,1634.0,1006.0,True
82,knapPI_2_200_1000_1,greedy_algorithm,200,0.000112,1634.0,1604.0,1004.0,False
83,knapPI_2_200_1000_1,genetic_algorithm,200,20.632790,1634.0,1564.0,1008.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
84,knapPI_3_200_1000_1,dynamic_programming,200,0.158312,2697.0,2697.0,997.0,True
85,knapPI_3_200_1000_1,branch_and_bound,200,2362.094982,2697.0,2697.0,997.0,True
86,knapPI_3_200_1000_1,greedy_algorithm,200,0.000105,2697.0,2649.0,949.0,False
87,knapPI_3_200_1000_1,genetic_algorithm,200,20.947464,2697.0,2396.0,996.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
88,knapPI_1_500_1000_1,dynamic_programming,500,1.254857,28857.0,28857.0,2543.0,True
89,knapPI_1_500_1000_1,branch_and_bound,500,63.643638,28857.0,28857.0,2543.0,True
90,knapPI_1_500_1000_1,greedy_algorithm,500,0.000326,28857.0,28834.0,2528.0,False
91,knapPI_1_500_1000_1,genetic_algorithm,500,46.329766,28857.0,27200.0,2543.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
92,knapPI_2_500_1000_1,dynamic_programming,500,1.234081,4566.0,4566.0,2543.0,True
93,knapPI_2_500_1000_1,branch_and_bound,500,158.252565,4566.0,4566.0,2543.0,True
94,knapPI_2_500_1000_1,greedy_algorithm,500,0.000271,4566.0,4552.0,2538.0,False
95,knapPI_2_500_1000_1,genetic_algorithm,500,42.130535,4566.0,3961.0,2519.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
96,knapPI_3_500_1000_1,dynamic_programming,500,1.222151,7117.0,7117.0,2517.0,True
97,knapPI_3_500_1000_1,branch_and_bound,500,NaN,NaN,NaN,NaN,7000 seconds have passed!
98,knapPI_3_500_1000_1,greedy_algorithm,500,0.000437,7117.0,7098.0,2498.0,False
99,knapPI_3_500_1000_1,genetic_algorithm,500,43.182143,7117.0,5717.0,2517.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
100,knapPI_1_1000_1000_1,dynamic_programming,1000,5.138810,54503.0,54503.0,5002.0,True
101,knapPI_1_1000_1000_1,branch_and_bound,1000,2546.691353,54503.0,54503.0,5002.0,True
102,knapPI_1_1000_1000_1,greedy_algorithm,1000,0.000507,54503.0,54386.0,4991.0,False
103,knapPI_1_1000_1000_1,genetic_algorithm,1000,80.074588,54503.0,47971.0,5000.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
104,knapPI_2_1000_1000_1,dynamic_programming,1000,5.240350,9052.0,9052.0,5002.0,True
105,knapPI_2_1000_1000_1,branch_and_bound,1000,NaN,NaN,NaN,NaN,7000 seconds have passed!
106,knapPI_2_1000_1000_1,greedy_algorithm,1000,0.000516,9052.0,9046.0,4994.0,False
107,knapPI_2_1000_1000_1,genetic_algorithm,1000,78.623884,9052.0,7444.0,5001.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
108,knapPI_3_1000_1000_1,dynamic_programming,1000,5.012287,14390.0,14390.0,4990.0,True
109,knapPI_3_1000_1000_1,branch_and_bound,1000,NaN,NaN,NaN,NaN,7000 seconds have passed!
110,knapPI_3_1000_1000_1,greedy_algorithm,1000,0.000626,14390.0,14374.0,4974.0,False
111,knapPI_3_1000_1000_1,genetic_algorithm,1000,79.520803,14390.0,11187.0,4987.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
112,knapPI_1_2000_1000_1,dynamic_programming,2000,21.286727,110625.0,110625.0,10011.0,True
113,knapPI_1_2000_1000_1,branch_and_bound,2000,NaN,NaN,NaN,NaN,7000 seconds have passed!
114,knapPI_1_2000_1000_1,greedy_algorithm,2000,0.002263,110625.0,110547.0,9996.0,False
115,knapPI_1_2000_1000_1,genetic_algorithm,2000,154.823432,110625.0,88354.0,9967.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
116,knapPI_2_2000_1000_1,dynamic_programming,2000,21.490675,18051.0,18051.0,10010.0,True
117,knapPI_2_2000_1000_1,branch_and_bound,2000,NaN,NaN,NaN,NaN,7000 seconds have passed!
118,knapPI_2_2000_1000_1,greedy_algorithm,2000,0.001159,18051.0,18038.0,10010.0,False
119,knapPI_2_2000_1000_1,genetic_algorithm,2000,149.441092,18051.0,13775.0,9999.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
120,knapPI_3_2000_1000_1,dynamic_programming,2000,20.915701,28919.0,28919.0,9819.0,True
121,knapPI_3_2000_1000_1,branch_and_bound,2000,NaN,NaN,NaN,NaN,7000 seconds have passed!
122,knapPI_3_2000_1000_1,greedy_algorithm,2000,0.001008,28919.0,28827.0,9727.0,False
123,knapPI_3_2000_1000_1,genetic_algorithm,2000,152.748624,28919.0,21419.0,9819.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
124,knapPI_1_5000_1000_1,dynamic_programming,5000,138.664215,276457.0,276457.0,25016.0,True
125,knapPI_1_5000_1000_1,branch_and_bound,5000,NaN,NaN,NaN,NaN,7000 seconds have passed!
126,knapPI_1_5000_1000_1,greedy_algorithm,5000,0.003370,276457.0,276379.0,25008.0,False
127,knapPI_1_5000_1000_1,genetic_algorithm,5000,375.616322,276457.0,156266.0,24898.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
128,knapPI_2_5000_1000_1,dynamic_programming,5000,140.783032,44356.0,44356.0,25016.0,True
129,knapPI_2_5000_1000_1,branch_and_bound,5000,NaN,NaN,NaN,NaN,7000 seconds have passed!
130,knapPI_2_5000_1000_1,greedy_algorithm,5000,0.004302,44356.0,44350.0,25015.0,False
131,knapPI_2_5000_1000_1,genetic_algorithm,5000,364.698648,44356.0,32980.0,24988.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
132,knapPI_3_5000_1000_1,dynamic_programming,5000,139.615474,72505.0,72505.0,24805.0,True
133,knapPI_3_5000_1000_1,branch_and_bound,5000,NaN,NaN,NaN,NaN,7000 seconds have passed!
134,knapPI_3_5000_1000_1,greedy_algorithm,5000,0.004839,72505.0,72446.0,24746.0,False
135,knapPI_3_5000_1000_1,genetic_algorithm,5000,377.760440,72505.0,48086.0,24786.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
136,knapPI_1_10000_1000_1,dynamic_programming,10000,561.335591,563647.0,563647.0,49877.0,True
137,knapPI_1_10000_1000_1,branch_and_bound,10000,NaN,NaN,NaN,NaN,7000 seconds have passed!
138,knapPI_1_10000_1000_1,greedy_algorithm,10000,0.014775,563647.0,563605.0,49876.0,False
139,knapPI_1_10000_1000_1,genetic_algorithm,10000,738.171488,563647.0,197739.0,49801.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
140,knapPI_2_10000_1000_1,dynamic_programming,10000,541.551837,90204.0,90204.0,49877.0,True
141,knapPI_2_10000_1000_1,branch_and_bound,10000,NaN,NaN,NaN,NaN,7000 seconds have passed!
142,knapPI_2_10000_1000_1,greedy_algorithm,10000,0.012158,90204.0,90199.0,49875.0,False
143,knapPI_2_10000_1000_1,genetic_algorithm,10000,727.086293,90204.0,60216.0,49831.0,False

,Knapsack,Method,Number of items,Mean time,Optimal profit,Found profit,Found weight,Passed
144,knapPI_3_10000_1000_1,dynamic_programming,10000,533.251705,146919.0,146919.0,49519.0,True
145,knapPI_3_10000_1000_1,branch_and_bound,10000,NaN,NaN,NaN,NaN,7000 seconds have passed!
146,knapPI_3_10000_1000_1,greedy_algorithm,10000,0.009766,146919.0,146888.0,49488.0,False
147,knapPI_3_10000_1000_1,genetic_algorithm,10000,744.290010,146919.0,80084.0,49484.0,False

Dynamic, Greedy and Genetic algorithms run less than 800 seconds for each case. Branch and Bound algorithm works more than 7000 seconds for most knapsacks that have 500 or more items.         
Dynamic and BnB allways find an exact solutions. Greedy and Genetic usually give an approximate answer. Greedy is much faster than Genetic, but Genetic gives more accurate result for big knapsacks.

All solutions are in file ./data/output/all_cases.csv

### Dynamic programming algorithm

#### Testing

In [9]:
test_dynamic = run_tests(knapsacks[:20], methods=[dynamic], lim_sec=30, file_name='test_dynamic')
test_dynamic[["Knapsack's ID", 'Number of items', 'Optimal profit', 'Found profit', 'Passed']]

   Knapsack's ID Number of items Optimal profit Found profit Passed
0              0               4             35           35   True
1              1               4             23           23   True
2              2               5             51           51   True
3              3               5            130          130   True
4              4               6            150          150   True
5              5               7            107          107   True
6              6               7           1735         1735   True
7              7               7            107          107   True
8              8               8            900          900   True
9              9              10            309          309   True
10            10              10            295          295   True
11            11              10             52           52   True
12            12              15           1458         1458   True
13            13              20           1025         1025   True
14            14              20           1024         1024   True
15            15              23           9767         9767   True
16            16             100           1514         1514   True
17            17             100           2397         2397   True
18            18             100           9147         9147   True
19            19             200           2697         2697   True

We've tested this algorithm with 20 benchmarks. Minimal number of items for knapsack is 4, maximal number is 200 
(Larger knapsacks and the answer of all cases will be shown below).        
This algorithm always returns exact answer.

### Branch and bound algorithm

#### Testing

In [10]:
test_bnb = run_tests(knapsacks[:20], methods=[bnb], lim_sec=30, file_name='test_bnb')
test_bnb[["Knapsack's ID", 'Number of items', 'Optimal profit', 'Found profit', 'Passed']]

,Knapsack's ID,Number of items,Optimal profit,Found profit,Passed
0,0,4,35,35,True
1,1,4,23,23,True
2,2,5,51,51,True
3,3,5,130,130,True
4,4,6,150,150,True
5,5,7,107,107,True
6,6,7,1735,1735,True
7,7,7,107,107,True
8,8,8,900,900,True
9,9,10,309,309,True
10,10,10,295,295,True
11,11,10,52,52,True
12,12,15,1458,1458,True
13,13,20,1025,1025,True
14,14,20,1024,1024,True
15,15,23,9767,NaN,30 seconds have passed!
16,16,100,1514,1514,True
17,17,100,2397,2397,True
18,18,100,9147,9147,True
19,19,200,2697,NaN,30 seconds have passed!

Here we put the time limit of 30 seconds and some cases did not overcome it.     
But we can see that this algorithm always returns correct answers too.

### Greedy algorithm

#### Testing

In [11]:
test_greedy = run_tests(knapsacks[:20], methods=[greedy], lim_sec=30, file_name='test_greedy')
test_greedy[["Knapsack's ID", 'Number of items', 'Optimal profit', 'Found profit', 'Passed']]

   Knapsack's ID Number of items Optimal profit Found profit Passed
0              0               4             35           35   True
1              1               4             23           16  False
2              2               5             51           47  False
3              3               5            130          130   True
4              4               6            150          146  False
5              5               7            107          102  False
6              6               7           1735         1478  False
7              7               7            107          102  False
8              8               8            900          858  False
9              9              10            309          266  False
10            10              10            295          294  False
11            11              10             52           52   True
12            12              15           1458         1441  False
13            13              20           1025         1019  False
14            14              20           1024         1018  False
15            15              23           9767         9751  False
16            16             100           1514         1487  False
17            17             100           2397         2375  False
18            18             100           9147         8817  False
19            19             200           2697         2649  False

Greedy is the heuristic algorithm that is why sometimes it returns approximate answers.     
Here Greedy returned just 3 exact answers out of 20. The other found optimal profits are close to right solutions.

### Genetic algorithm

#### Testing

In [12]:
test_genetic = run_tests(knapsacks[:20], methods=[genetic], lim_sec=30, file_name='test_genetic')
test_genetic[["Knapsack's ID", 'Number of items', 'Optimal profit', 'Found profit', 'Passed']]

   Knapsack's ID Number of items Optimal profit Found profit Passed
0              0               4             35           35   True
1              1               4             23           23   True
2              2               5             51           51   True
3              3               5            130          130   True
4              4               6            150          150   True
5              5               7            107          107   True
6              6               7           1735         1735   True
7              7               7            107          107   True
8              8               8            900          900   True
9              9              10            309          284  False
10            10              10            295          293  False
11            11              10             52           52   True
12            12              15           1458         1446  False
13            13              20           1025         1025   True
14            14              20           1024         1024   True
15            15              23           9767         9765  False
16            16             100           1514         1514   True
17            17             100           2397         2295  False
18            18             100           9147         9147   True
19            19             200           2697         2596  False

Genetic algorithm is also the heuristic.            
It returned 14 exact answers out of 20. The other profits are very close to right solutions.

### Comparison of the time statistic for all methods

##### Complexity of the algorithms
* Dynamic - $O(N * W)$, where N - number of items, W - capacity of the knapsack
* BnB - $O(2^{N-1}-1)$ (worse case)
* Greedy - $O(N * log(N))$
* Genetic - $O(N)$

We put the time limit of 90 seconds. If method works longer than this time we will stop it.

In [13]:
table_time = get_time(knapsacks, iters=3, lim_sec=90)

In [10]:
pd.set_option('display.max_rows', None)
table_time = pd.read_csv('./data/output/time.csv')
table_time

,Unnamed: 0,Method,Knapsack's ID,Number of items,Mean,Median,Min,Max,Variance
0,0,dynamic_programming,0,4,0.00023396809895833334,0.000236,0.000172,0.000294,2.475506e-09
1,1,branch_and_bound,0,4,0.028904040654500324,0.034401,0.016738,0.035573,7.423589e-05
2,2,greedy_algorithm,0,4,2.106030782063802e-05,0.000008,0.000007,0.000048,3.611199e-10
3,3,genetic_algorithm,0,4,0.06227850914001465,0.063731,0.043729,0.079376,2.128386e-04
4,4,dynamic_programming,1,4,0.00013105074564615885,0.000133,0.000123,0.000137,3.275444e-11
5,5,branch_and_bound,1,4,0.020009676615397137,0.018260,0.016827,0.024942,1.250572e-05
6,6,greedy_algorithm,1,4,8.424123128255209e-06,0.000007,0.000006,0.000012,7.212798e-12
7,7,genetic_algorithm,1,4,0.04278063774108887,0.037536,0.018959,0.071847,4.799452e-04
8,8,dynamic_programming,2,5,0.00016601880391438803,0.000166,0.000157,0.000175,5.617393e-11
9,9,branch_and_bound,2,5,0.02475889523824056,0.024778,0.024429,0.025070,6.863715e-08
10,10,greedy_algorithm,2,5,2.0345052083333332e-05,0.000025,0.000010,0.000026,5.352124e-11
11,11,genetic_algorithm,2,5,0.04565238952636719,0.038488,0.032051,0.066418,2.225088e-04
12,12,dynamic_programming,3,5,0.0005136330922444662,0.000517,0.000505,0.000519,3.608926e-11
13,13,branch_and_bound,3,5,0.00845495859781901,0.006305,0.006230,0.012830,9.571517e-06
14,14,greedy_algorithm,3,5,1.0172526041666666e-05,0.000008,0.000007,0.000015,1.297293e-11
15,15,genetic_algorithm,3,5,0.08830865224202473,0.084219,0.070424,0.110283,2.731503e-04
16,16,dynamic_programming,4,6,0.0012343724568684895,0.001206,0.001203,0.001294,1.773224e-09
17,17,branch_and_bound,4,6,0.024295647939046223,0.024564,0.023207,0.025116,6.434052e-07
18,18,greedy_algorithm,4,6,9.934107462565104e-06,0.000009,0.000007,0.000014,9.145475e-12
19,19,genetic_algorithm,4,6,0.05988629659016927,0.057008,0.035945,0.086706,4.335885e-04
20,20,dynamic_programming,5,7,0.000408172607421875,0.000396,0.000392,0.000436,3.981692e-10
21,21,branch_and_bound,5,7,0.01361703872680664,0.013592,0.013371,0.013888,4.480175e-08
22,22,greedy_algorithm,5,7,1.0251998901367188e-05,0.000009,0.000007,0.000015,1.197501e-11
23,23,genetic_algorithm,5,7,0.06957125663757324,0.063479,0.033463,0.111772,1.040603e-03
24,24,dynamic_programming,6,7,0.0013917287190755208,0.001304,0.001291,0.001580,1.775168e-08
25,25,branch_and_bound,6,7,0.1336681048075358,0.134212,0.128421,0.138371,1.664821e-05
26,26,greedy_algorithm,6,7,1.0251998901367188e-05,0.000008,0.000007,0.000016,1.652249e-11
27,27,genetic_algorithm,6,7,0.05948082605997721,0.051004,0.028476,0.098962,8.639689e-04
28,28,dynamic_programming,7,7,0.0004006226857503255,0.000396,0.000396,0.000410,4.472945e-11
29,29,branch_and_bound,7,7,0.01478433609008789,0.014823,0.014594,0.014936,2.022762e-08
30,30,greedy_algorithm,7,7,1.0331471761067709e-05,0.000009,0.000008,0.000014,6.265408e-12
31,31,genetic_algorithm,7,7,0.0916900634765625,0.078977,0.040818,0.155275,2.264197e-03
32,32,dynamic_programming,8,8,0.000985860824584961,0.000984,0.000983,0.000991,1.277082e-11
33,33,branch_and_bound,8,8,0.03315567970275879,0.033182,0.032949,0.033336,2.533015e-08
34,34,greedy_algorithm,8,8,1.0728836059570312e-05,0.000009,0.000008,0.000015,9.360216e-12
35,35,genetic_algorithm,8,8,0.06390690803527832,0.048868,0.034247,0.108606,1.034639e-03
36,36,dynamic_programming,9,10,0.0017319520314534504,0.001649,0.001640,0.001907,1.531143e-08
37,37,branch_and_bound,9,10,0.007686058680216472,0.007615,0.007436,0.008007,5.686086e-08
38,38,greedy_algorithm,9,10,2.4080276489257812e-05,0.000022,0.000011,0.000039,1.337336e-10
39,39,genetic_algorithm,9,10,0.0892790158589681,0.077717,0.060176,0.129944,8.781061e-04
40,40,dynamic_programming,10,10,0.003171841303507487,0.003171,0.003142,0.003202,6.018329e-10
41,41,branch_and_bound,10,10,0.042143662770589195,0.042281,0.041414,0.042736,3.008509e-07
42,42,greedy_algorithm,10,10,1.33514404296875e-05,0.000011,0.000010,0.000019,1.527193e-11
43,43,genetic_algorithm,10,10,0.22587347030639648,0.268807,0.132666,0.276147,4.352786e-03
44,44,dynamic_programming,11,10,0.0006728967030843099,0.000668,0.000666,0.000685,7.356802e-11
45,45,branch_and_bound,11,10,0.05478374163309733,0.053883,0.053631,0.056837,2.118178e-06
46,46,greedy_algorithm,11,10,1.2715657552083334e-05,0.000011,0.000009,0.000018,1.380663e-11
47,47,genetic_algorithm,11,10,0.06708025932312012,0.045308,0.024371,0.131562,2.152007e-03
48,48,dynamic_programming,12,15,0.014933029810587565,0.014921,0.014868,0.015010,3.438244e-09
49,49,branch_and_bound,12,15,0.9659763177235922,0.940249,0.919614,1.038066,2.669418e-03
50,50,greedy_algorithm,12,15,2.5272369384765625e-05,0.000027,0.000017,0.000032,3.899459e-11
51,51,genetic_algorithm,12,15,0.8726278146107992,0.526008,0.208860,1.883015,5.272051e-01
52,52,dynamic_programming,13,20,0.023217280705769856,0.023106,0.022844,0.023702,1.288527e-07
53,53,branch_and_bound,13,20,0.10984309514363606,0.108600,0.107003,0.113926,8.760916e-06
54,54,greedy_algorithm,13,20,2.7815500895182293e-05,0.000024,0.000023,0.000036,3.563451e-11
55,55,genetic_algorithm,13,20,1.0680396556854248,0.688574,0.065647,2.449898,1.019439e+00
56,56,dynamic_programming,14,20,0.025203863779703777,0.025503,0.024342,0.025767,3.831681e-07
57,57,branch_and_bound,14,20,0.09891597429911296,0.098005,0.093144,0.105599,2.626856e-05
58,58,greedy_algorithm,14,20,1.811981201171875e-05,0.000016,0.000015,0.000023,1.152027e-11
59,59,genetic_algorithm,14,20,1.8872324625651042,1.866182,0.230423,3.565092,1.853558e+00
60,60,dynamic_programming,15,23,0.32927505175272626,0.320550,0.318115,0.349160,1.986980e-04
61,61,branch_and_bound,15,23,90 seconds have passed!,NaN,NaN,NaN,NaN
62,62,greedy_algorithm,15,23,1.8596649169921875e-05,0.000017,0.000015,0.000024,1.580247e-11
63,63,genetic_algorithm,15,23,1.3660717010498047,0.584517,0.260230,3.253468,1.798660e+00
64,64,dynamic_programming,16,100,0.07677491505940755,0.076001,0.075956,0.078368,1.269216e-06
65,65,branch_and_bound,16,100,11.394863923390707,11.567223,10.043505,12.573864,1.081973e+00
66,66,greedy_algorithm,16,100,0.00011308987935384114,0.000105,0.000100,0.000134,2.272347e-10
67,67,genetic_algorithm,16,100,9.95823891957601,10.290630,5.994414,13.589673,9.669903e+00
68,68,dynamic_programming,17,100,0.07750781377156575,0.076878,0.076383,0.079262,1.579408e-06
69,69,branch_and_bound,17,100,8.96988836924235,9.271593,7.901656,9.736416,6.065701e-01
70,70,greedy_algorithm,17,100,0.00011571248372395833,0.000107,0.000102,0.000138,2.535343e-10
71,71,genetic_algorithm,17,100,9.654829978942871,8.294238,5.724075,14.946177,1.510013e+01
72,72,dynamic_programming,18,100,0.07897202173868816,0.078643,0.077189,0.081084,2.582662e-06
73,73,branch_and_bound,18,100,4.874316771825154,5.094011,4.315207,5.213732,1.586906e-01
74,74,greedy_algorithm,18,100,0.00011706352233886719,0.000108,0.000104,0.000139,2.436309e-10
75,75,genetic_algorithm,18,100,3.588234027226766,4.740875,0.342268,5.681559,5.415629e+00
76,76,dynamic_programming,19,200,0.15624300638834634,0.153862,0.153315,0.161552,1.414362e-05
77,77,branch_and_bound,19,200,90 seconds have passed!,NaN,NaN,NaN,NaN
78,78,greedy_algorithm,19,200,0.00026226043701171875,0.000228,0.000189,0.000370,6.038931e-09
79,79,genetic_algorithm,19,200,18.05766161282857,22.531834,8.470890,23.170261,4.602103e+01
80,80,dynamic_programming,20,200,0.15781029065450033,0.158188,0.154022,0.161221,8.708999e-06
81,81,branch_and_bound,20,200,20.931856155395508,20.778851,20.753407,21.263311,5.503903e-02
82,82,greedy_algorithm,20,200,0.00021489461263020834,0.000200,0.000196,0.000249,5.809145e-10
83,83,genetic_algorithm,20,200,22.902313470840454,22.754970,22.504697,23.447273,1.589299e-01
84,84,dynamic_programming,21,200,0.1628901163736979,0.163281,0.161240,0.164149,1.486801e-06
85,85,branch_and_bound,21,200,90 seconds have passed!,NaN,NaN,NaN,NaN
86,86,greedy_algorithm,21,200,0.00021092096964518228,0.000207,0.000198,0.000228,1.535657e-10
87,87,genetic_algorithm,21,200,17.899166981379192,22.417446,7.864064,23.415991,5.051783e+01
88,88,dynamic_programming,22,500,1.3980937004089355,1.400902,1.389310,1.404069,4.024953e-05
89,89,branch_and_bound,22,500,90 seconds have passed!,NaN,NaN,NaN,NaN
90,90,greedy_algorithm,22,500,0.0005932648976643881,0.000579,0.000562,0.000639,1.091861e-09
91,91,genetic_algorithm,22,500,47.607247273127236,47.779495,47.140661,47.901586,1.113358e-01
92,92,dynamic_programming,23,500,1.347678502400716,1.336898,1.335018,1.371120,2.753348e-04
93,93,branch_and_bound,23,500,90 seconds have passed!,NaN,NaN,NaN,NaN
94,94,greedy_algorithm,23,500,0.0005209445953369141,0.000505,0.000502,0.000556,6.157658e-10
95,95,genetic_algorithm,23,500,47.31291278203329,47.053951,46.975640,47.909147,1.787699e-01
96,96,dynamic_programming,24,500,1.3972853024800618,1.366459,1.364780,1.460617,2.005941e-03
97,97,branch_and_bound,24,500,90 seconds have passed!,NaN,NaN,NaN,NaN
98,98,greedy_algorithm,24,500,0.0005936622619628906,0.000567,0.000561,0.000653,1.754453e-09
99,99,genetic_algorithm,24,500,52.73756512006124,53.114473,51.718765,53.379457,5.306795e-01
100,100,dynamic_programming,25,1000,6.512346029281616,6.431317,6.315756,6.789965,4.076192e-02
101,101,branch_and_bound,25,1000,90 seconds have passed!,NaN,NaN,NaN,NaN
102,102,greedy_algorithm,25,1000,0.002033392588297526,0.001159,0.001154,0.003787,1.537645e-06
103,103,genetic_algorithm,25,1000,90 seconds have passed!,NaN,NaN,NaN,NaN
104,104,dynamic_programming,26,1000,7.1349367300669355,6.824220,6.635201,7.945389,3.343712e-01
105,105,branch_and_bound,26,1000,90 seconds have passed!,NaN,NaN,NaN,NaN
106,106,greedy_algorithm,26,1000,0.0007300376892089844,0.000706,0.000699,0.000785,1.524578e-09
107,107,genetic_algorithm,26,1000,90 seconds have passed!,NaN,NaN,NaN,NaN
108,108,dynamic_programming,27,1000,6.4328146775563555,6.330722,6.237147,6.730575,4.578994e-02
109,109,branch_and_bound,27,1000,90 seconds have passed!,NaN,NaN,NaN,NaN
110,110,greedy_algorithm,27,1000,0.0007865428924560547,0.000793,0.000656,0.000911,1.084713e-08
111,111,genetic_algorithm,27,1000,90 seconds have passed!,NaN,NaN,NaN,NaN
112,112,dynamic_programming,28,2000,27.385457356770832,27.583438,25.780857,28.792077,1.530839e+00
113,113,branch_and_bound,28,2000,90 seconds have passed!,NaN,NaN,NaN,NaN
114,114,greedy_algorithm,28,2000,0.002054135004679362,0.001518,0.001435,0.003209,6.681291e-07
115,115,genetic_algorithm,28,2000,90 seconds have passed!,NaN,NaN,NaN,NaN
116,116,dynamic_programming,29,2000,29.875773350397747,29.147171,28.187063,32.293086,3.075335e+00
117,117,branch_and_bound,29,2000,90 seconds have passed!,NaN,NaN,NaN,NaN
118,118,greedy_algorithm,29,2000,0.002814610799153646,0.002628,0.002615,0.003201,7.458790e-08
119,119,genetic_algorithm,29,2000,90 seconds have passed!,NaN,NaN,NaN,NaN
120,120,dynamic_programming,30,2000,27.33617663383484,29.000084,23.984297,29.024149,5.617645e+00
121,121,branch_and_bound,30,2000,90 seconds have passed!,NaN,NaN,NaN,NaN
122,122,greedy_algorithm,30,2000,0.0023598670959472656,0.002249,0.001725,0.003106,3.239955e-07
123,123,genetic_algorithm,30,2000,90 seconds have passed!,NaN,NaN,NaN,NaN
124,124,dynamic_programming,31,5000,90 seconds have passed!,NaN,NaN,NaN,NaN
125,125,branch_and_bound,31,5000,90 seconds have passed!,NaN,NaN,NaN,NaN
126,126,greedy_algorithm,31,5000,0.005049387613932292,0.004501,0.004339,0.006308,7.965324e-07
127,127,genetic_algorithm,31,5000,90 seconds have passed!,NaN,NaN,NaN,NaN
128,128,dynamic_programming,32,5000,90 seconds have passed!,NaN,NaN,NaN,NaN
129,129,branch_and_bound,32,5000,90 seconds have passed!,NaN,NaN,NaN,NaN
130,130,greedy_algorithm,32,5000,0.0044345855712890625,0.003814,0.003675,0.005815,9.560434e-07
131,131,genetic_algorithm,32,5000,90 seconds have passed!,NaN,NaN,NaN,NaN
132,132,dynamic_programming,33,5000,90 seconds have passed!,NaN,NaN,NaN,NaN
133,133,branch_and_bound,33,5000,90 seconds have passed!,NaN,NaN,NaN,NaN
134,134,greedy_algorithm,33,5000,0.0038106441497802734,0.003596,0.003452,0.004384,1.678367e-07
135,135,genetic_algorithm,33,5000,90 seconds have passed!,NaN,NaN,NaN,NaN
136,136,dynamic_programming,34,10000,90 seconds have passed!,NaN,NaN,NaN,NaN
137,137,branch_and_bound,34,10000,90 seconds have passed!,NaN,NaN,NaN,NaN
138,138,greedy_algorithm,34,10000,0.011635939280192057,0.009848,0.007295,0.017765,1.986800e-05
139,139,genetic_algorithm,34,10000,90 seconds have passed!,NaN,NaN,NaN,NaN
140,140,dynamic_programming,35,10000,90 seconds have passed!,NaN,NaN,NaN,NaN
141,141,branch_and_bound,35,10000,90 seconds have passed!,NaN,NaN,NaN,NaN
142,142,greedy_algorithm,35,10000,0.007035732269287109,0.006009,0.005974,0.009124,2.180721e-06
143,143,genetic_algorithm,35,10000,90 seconds have passed!,NaN,NaN,NaN,NaN
144,144,dynamic_programming,36,10000,90 seconds have passed!,NaN,NaN,NaN,NaN
145,145,branch_and_bound,36,10000,90 seconds have passed!,NaN,NaN,NaN,NaN
146,146,greedy_algorithm,36,10000,0.0072803497314453125,0.006230,0.005968,0.009643,2.802706e-06
147,147,genetic_algorithm,36,10000,90 seconds have passed!,NaN,NaN,NaN,NaN

In [9]:
fig = go.FigureWidget(layout={'title': 'Mean of the time',
                        'font': {'size': 15, 'family': 'Courier'},
                             'template': 'plotly_dark'})
fig.add_trace(go.Bar(name='Dynamic', y=table_time[table_time.Method=='dynamic_programming'].Mean, x=table_time[table_time.Method=='dynamic_programming']["Knapsack's ID"]))
fig.add_trace(go.Bar(name='BnB', y=table_time[table_time.Method=='branch_and_bound'].Mean, x=table_time[table_time.Method=='branch_and_bound']["Knapsack's ID"]))
fig.add_trace(go.Bar(name='Greedy', y=table_time[table_time.Method=='greedy_algorithm'].Mean, x=table_time[table_time.Method=='greedy_algorithm']["Knapsack's ID"]))
fig.add_trace(go.Bar(name='Genetic', y=table_time[table_time.Method=='genetic_algorithm'].Mean, x=table_time[table_time.Method=='genetic_algorithm']["Knapsack's ID"]))

fig.update_xaxes(title="knapsack's id")
fig.update_yaxes(title="seconds")

fig.write_html('./data/output/mean_time.html', auto_open=False)
fig.show()

<img src="./data/output/meantime_all.png" align="center">

<img src="./data/output/meantime_half.png" align="center">

The interactive graph is [here]().

Greedy is always the fastest method.     
If you bring the chart closer you can see that the second place is Dynamic programming.      
And then either Branch and Bound or Genetic algorithm.

### The solution of each benchmark

We put the time limit of 90 seconds.

In [13]:
table_test = run_tests(knapsacks, lim_sec=90)

In [24]:
pd.set_option('display.max_colwidth', -1)
for i in range(10):
    display(table_test[table_test["Knapsack's ID"] == i])

,Method,Knapsack's ID,Number of items,Optimal profit,Found profit,Found weight,Found X,Passed
0,dynamic_programming,0,4,35,35,18,"[1, 1, 0, 1]",True
37,branch_and_bound,0,4,35,35,18,"[1, 1, 0, 1]",True
74,greedy_algorithm,0,4,35,35,18,"[1, 1, 0, 1]",True
111,genetic_algorithm,0,4,35,35,18,"[1, 1, 0, 1]",True

,Method,Knapsack's ID,Number of items,Optimal profit,Found profit,Found weight,Found X,Passed
1,dynamic_programming,1,4,23,23,11,"[0, 1, 0, 1]",True
38,branch_and_bound,1,4,23,23,11,"[0, 1, 0, 1]",True
75,greedy_algorithm,1,4,23,16,6,"[1, 1, 0, 0]",False
112,genetic_algorithm,1,4,23,23,11,"[0, 1, 0, 1]",True

,Method,Knapsack's ID,Number of items,Optimal profit,Found profit,Found weight,Found X,Passed
2,dynamic_programming,2,5,51,51,26,"[0, 1, 1, 1, 0]",True
39,branch_and_bound,2,5,51,51,26,"[0, 1, 1, 1, 0]",True
76,greedy_algorithm,2,5,51,47,23,"[1, 0, 1, 0, 0]",False
113,genetic_algorithm,2,5,51,51,26,"[0, 1, 1, 1, 0]",True

,Method,Knapsack's ID,Number of items,Optimal profit,Found profit,Found weight,Found X,Passed
3,dynamic_programming,3,5,130,130,60,"[1, 1, 1, 1, 0]",True
40,branch_and_bound,3,5,130,130,60,"[1, 1, 1, 1, 0]",True
77,greedy_algorithm,3,5,130,130,60,"[1, 1, 1, 1, 0]",True
114,genetic_algorithm,3,5,130,130,60,"[1, 1, 1, 1, 0]",True

,Method,Knapsack's ID,Number of items,Optimal profit,Found profit,Found weight,Found X,Passed
4,dynamic_programming,4,6,150,150,190,"[1, 1, 0, 0, 1, 0]",True
41,branch_and_bound,4,6,150,150,190,"[1, 1, 0, 0, 1, 0]",True
78,greedy_algorithm,4,6,150,146,179,"[1, 1, 0, 1, 0, 0]",False
115,genetic_algorithm,4,6,150,150,190,"[1, 1, 0, 0, 1, 0]",True

,Method,Knapsack's ID,Number of items,Optimal profit,Found profit,Found weight,Found X,Passed
5,dynamic_programming,5,7,107,107,50,"[1, 0, 0, 1, 0, 0, 0]",True
42,branch_and_bound,5,7,107,107,50,"[1, 0, 0, 1, 0, 0, 0]",True
79,greedy_algorithm,5,7,107,102,48,"[1, 1, 0, 0, 1, 1, 0]",False
116,genetic_algorithm,5,7,107,107,50,"[1, 0, 0, 1, 0, 0, 0]",True

,Method,Knapsack's ID,Number of items,Optimal profit,Found profit,Found weight,Found X,Passed
6,dynamic_programming,6,7,1735,1735,169,"[0, 1, 0, 1, 0, 0, 1]",True
43,branch_and_bound,6,7,1735,1735,169,"[0, 1, 0, 1, 0, 0, 1]",True
80,greedy_algorithm,6,7,1735,1478,140,"[1, 1, 1, 0, 0, 0, 0]",False
117,genetic_algorithm,6,7,1735,1735,169,"[0, 1, 0, 1, 0, 0, 1]",True

,Method,Knapsack's ID,Number of items,Optimal profit,Found profit,Found weight,Found X,Passed
7,dynamic_programming,7,7,107,107,50,"[1, 0, 0, 1, 0, 0, 0]",True
44,branch_and_bound,7,7,107,107,50,"[1, 0, 0, 1, 0, 0, 0]",True
81,greedy_algorithm,7,7,107,102,48,"[1, 1, 0, 0, 1, 1, 0]",False
118,genetic_algorithm,7,7,107,107,50,"[1, 0, 0, 1, 0, 0, 0]",True

,Method,Knapsack's ID,Number of items,Optimal profit,Found profit,Found weight,Found X,Passed
8,dynamic_programming,8,8,900,900,104,"[1, 0, 1, 1, 1, 0, 1, 1]",True
45,branch_and_bound,8,8,900,900,104,"[1, 0, 1, 1, 1, 0, 1, 1]",True
82,greedy_algorithm,8,8,900,858,97,"[1, 1, 0, 1, 1, 1, 1, 1]",False
119,genetic_algorithm,8,8,900,900,104,"[1, 0, 1, 1, 1, 0, 1, 1]",True

,Method,Knapsack's ID,Number of items,Optimal profit,Found profit,Found weight,Found X,Passed
9,dynamic_programming,9,10,309,309,165,"[1, 1, 1, 1, 0, 1, 0, 0, 0, 0]",True
46,branch_and_bound,9,10,309,309,165,"[1, 1, 1, 1, 0, 1, 0, 0, 0, 0]",True
83,greedy_algorithm,9,10,309,266,127,"[1, 1, 1, 1, 0, 0, 0, 0, 0, 0]",False
120,genetic_algorithm,9,10,309,269,149,"[1, 0, 1, 1, 1, 0, 0, 0, 0, 0]",False

More solutions is in [README]().

In [46]:
df = {}
for i in range(37):
    f_name = knapsacks[i]['name']+'.csv'
    df[knapsacks[i]['name']] = get_result(knapsacks[i:i+1], knapsacks[i]['name'], iters=3, lim_sec=7000, file_name=f_name)